[submodule "openssl"]
	path = openssl
	url = https://github.com/sinofool/build-openssl-ios.git
[submodule "openssl_source/source"]
	path = openssl_source/source
	url = https://github.com/openssl/openssl.git
